<style type="text/css">
	body {
		background-color:#262626;
		color:#bbbbbb;
		font-family:Helvetica, Verdana, Arial, sans-serif;
		font-size:12px;
		line-height: 15px;
		margin:20px;
		padding:30px;
	}
	a {
		text-decoration: none;
		color: #84b018;
	}
	a:hover {
		text-decoration:none;
		color:#a0e081;
	}
	h1 {
		font-family:Verdana;
		font-size:20px;
		font-weight:bold;
		color:#84b018;
	}
	h2 {
		font-family:Verdana;
		font-size:15px;
		font-weight:normal;
		color:#84b018;
	}
	table {
		table-layout:fixed;
		border-spacing:0px;
		border:0px;
		font-size:100%;
		text-indent:0px;
		width:660px;
	}
	td {
		border-spacing:0px;
		border:0px;
		vertical-align:top;
		text-align:left;
		text-indent:0px;
		margin-bottom:10px;
		overflow:hidden;
	}
	.ttitle {
		width:220px;
		color:#bbbbbb;
		font-family:Helvetica, Verdana, Arial, sans-serif;
		font-size:12px;
		line-height: 15px;
	}
	.info {
		text-align:right;
	}
	.reference {
		width:640px;
		padding:15px;
		border-top-style:none;
		border-bottom-style:none;
		border-left-style:none;
		border-right-style:none;
		border-width:thin;
		border-color:#565656;
		margin-top:10px;
		margin-bottom:15px;
	}
</style>