<style type="text/css">
	body
	{
		/*background-color: #262626;*/
	}
	.main
	{
		background-color: #262626;
		color: #bbbbbb;
		font-family: Helvetica, Verdana, Arial, sans-serif;
		font-size: 12px;
		margin: 0px;
		padding: 30px;
		text-align: left;
		text-decoration: none;
	}
	.heading
	{
		font-size: 20px;
		font-weight: bold;
		color: #a0e081;
		margin: 15px;
	}
	.link
	{
		text-decoration: none;
		color: #84b018;
	}
	.link:hover
	{
		text-decoration: none;
		color: #a0e081;
	}
	.product
	{
		width: 640px;
		padding: 15px;
		border-top-style: none;
		border-bottom-style: none;
		border-left-style: none;
		border-right-style: none;
		border-width: thin;
		border-color: #565656;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: left;
	}
	.info
	{
		// currently nothing here
	}
	.outer
	{
		margin-top: 7px;
		margin-bottom: 7px;
		border: 1px solid black;
		width: 640px;
		height: 480px;
		overflow: hidden;
	}
	.inner
	{
		width: 5120px;
		height: 480px;
		position: relative;
	}
	.img
	{
		float: left;
		width: 640px;
		height: 480px;
	}
	.prev
	{
		color: #84b018;
		text-decoration: none;
		cursor: pointer;
		text-align: right;
	}
	.prev:hover
	{
		color: #a0e081;
	}
	.prev-dis
	{
		color: #84b018;
		text-decoration: line-through;
		cursor: pointer;
		text-align: right;
	}
	.next
	{
		color: #84b018;
		text-decoration: none;
		cursor: pointer;
		text-align: right;
	}
	.next:hover
	{
		color: #a0e081;
	}
	.next-dis
	{
		color: #84b018;
		text-decoration: line-through;
		cursor: pointer;
		text-align: right;
	}
</style>