<style type="text/css">
	a
	{
		text-decoration: none;
		color: #84b018;
	}
	a:hover
	{
		text-decoration:none;
		color:#a0e081;
	}
	h1
	{
		font-family:Verdana;
		font-size:20px;
		font-weight:bold;
		color:#84b018;
	}
	.main
	{
		background-color:#262626;
		color:#bbbbbb;
		font-family:Helvetica, Verdana, Arial, sans-serif;
		font-size:12px;
		line-height: 15px;
		margin:20px;
		padding:30px;
	}
	.heading
	{
		font-size:20px;
		font-weight:bold;
		color:#84b018;
		/*
		width:220px;
		color:#bbbbbb;
		font-family:Helvetica, Verdana, Arial, sans-serif;
		font-size:12px;
		line-height: 15px;
		*/
	}
	.reference
	{
		width:640px;
		padding:15px;
		border-top-style:none;
		border-bottom-style:none;
		border-left-style:none;
		border-right-style:none;
		border-width:thin;
		border-color:#565656;
		margin-top:10px;
		margin-bottom:15px;
	}
	.info
	{
		text-align:right;
	}
	.outer
	{
		margin-top:5px;
		border:1px solid black;
		width:640px;
		height:480px;
		overflow:hidden;
	}
	.inner
	{
		width:2560px;
		height:480px;
		position:relative;
	}
	.img
	{
		float:left;
		width:640px;
	}
	.prev
	{
		color:#84b018;
		text-decoration:line-through;
		cursor:pointer;
	}
	.next
	{
		color:#84b018;
		text-decoration:none;
		cursor:pointer;
	}
</style>